.feature {
    padding-left: 16px !important;
    height: 48px;
    margin-left: 240px;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.button {
    margin-right: 8px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    text-align: center;
    align-content: space-between;
    height: 30px;
    line-height: 30px;
    padding-left: 24px;
    padding-right: 8px;
}

.button:hover {
    cursor: pointer;
}

.feature-create-request {
    background-color: #038df7;
    background-image: url(https://testesignwebsiteadminrd.misa.com.vn/icon/1x/ico-assign.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10px center;
    border: 1px solid rgb(0, 123, 255);
}

.isAccepted {
    padding: 0px 12px 0px 35px !important;
}

.feature-denied-request {
    background-color: rgb(228, 32, 32);
}

.KDDenied {
    background-image: url(https://testesignwebsiteadminrd.misa.com.vn/icon/1x/x-square.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10px center;
}

.KTDenied {
    background-image: url(https://testesignwebsiteadminrd.misa.com.vn/icon/1x/x-circle.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10px center;
}

.feature-accept-request {
    background-color: #038df7;
    background-image: url(https://testesignwebsiteadminrd.misa.com.vn/icon/1x/success.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10px center;
}

.feature-button button {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 15px;
}

.feature-button-refresh {
    background-image: url(https://testesignwebsiteadminrd.misa.com.vn/icon/1x/ico-sync-1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-button-setting {
    background-image: url(https://testesignwebsiteadminrd.misa.com.vn/icon/1x/ico-setting1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-button-logout {
    background-image: url(https://testesignwebsiteadminrd.misa.com.vn/icon/1x/ico-export1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-button {}

.isAccepted {
    border: unset;
}

button:disabled {
    opacity: 0.6;
}

.accept:disabled {
    background-color: #adadad;
}