.layout-right {
    background-color: #F1F1F1;
    margin-left: 240px;
    padding-left: 15px;
    padding-right: 10px;
    min-height: calc(100vh - 108px);
}

.layout-right-search {
    padding-top: 15px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.combobox {
    padding-left: 10px;
}

.layout-right-search-text {
    padding-right: 0px !important;
}

.search-getdata {
    height: 30px;
    background-color: #2EC551;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    margin-top: 25px;
    margin-left: 0px !important;
}

input {
    width: 248px;
    height: 32px;
    border-radius: 5px;
    outline: #ccc;
    border: 1px solid #DDDDDD;
    padding-left: 35px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-input-s i {
    position: absolute;
    margin-top: 8px;
    margin-left: 13px;
}

::placeholder {
    font-style: italic;
    padding-left: 10px;
}

input:focus::placeholder {
    color: #268FFB;
}

.search-second {
    margin-top: 24px;
}